@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    background-color: #f2f0f0;
    --divider-bg-color: #f2f0f0;
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

