.divider {
    width: 80%;
    background-color: var(--divider-bg-color); /* Use the variable for the background color */
    height: 40px;
    margin-left: 10vw; 
    margin-right: 10vw;
    position: relative;
}

.divider::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent var(--divider-bg-color) transparent transparent; /* Use the variable for the border color */
}

.divider::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent var(--divider-bg-color); /* Use the variable for the border color */
}